:host {
  display: block;
}

:host canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: screen;
}

@media (prefers-reduced-motion: reduce) {
  :host canvas {
    display: none;
  }
}
